<template>
  <v-container fluid class="boardMargin">
    <v-row>
      <v-col class="d-flex justify-center">
        <table class="tableBoard" cellpadding="0" cellspacing="0">
          <tr v-for="row in board" :key="row.id">
            <Cell
              v-for="cell in row.row"
              :key="`(${cell.cell.x}, ${cell.cell.y})`"
              :x="cell.cell.x"
              :y="cell.cell.y"
              :multiplicator="cell.cell.multiplicator"
              :multiplicatorType="cell.cell.multiplicatorType"
              :isAvailable="cell.cell.isAvailable"
              :isBorder="cell.cell.isBorder"
              :value="cell.cell.value"
              @updateAvailableCells="updateAvailableCells()"
            />
          </tr>
        </table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import BOARD from "@/config/board.ts";
import Cell from "@/components/board/Cell.vue";
import info from "@/utils/info.util";
import { Watch } from "vue-property-decorator";

@Component({
  components: {
    Cell
  }
})
export default class Board extends Vue {
  board: {
    row: {
      cell: {
        x: number;
        y: number;
        multiplicator: number;
        multiplicatorType: string | null;
        isAvailable: boolean;
        isBorder: boolean;
        value: any | null;
      };
    }[];
    id: number;
  }[] = [];

  first_letter = { x: 8, y: 8, letter: {}, user: "" };

  private get zk_board(): any {
    return this.$store.getters["board/getZKBoard"];
  }

  private get zk_users(): any {
    return this.$store.getters["board/getZKUsers"];
  }

  private get zk_turn(): any {
    return this.$store.getters["board/getZKTurn"];
  }

  @Watch("zk_board")
  private updateZKBoard() {
    this.board = JSON.parse(JSON.stringify(BOARD.BOARD));
    this.updateLocalBoard(this.zk_board);
    this.zk_users.forEach((user: any) => {
      if (user.id != info.getAlias()) {
        this.updateLocalBoard(user.move);
      }
    });
    this.makeBoardAvailable();
  }

  @Watch("zk_users")
  private updateZKUser() {
    if (info.getAlias() != this.zk_turn) {
      this.board = JSON.parse(JSON.stringify(BOARD.BOARD));
      this.updateLocalBoard(this.zk_board);
      this.zk_users.forEach((user: any) => {
        if (user.id != info.getAlias()) {
          this.updateLocalBoard(user.move);
        }
      });
      this.makeBoardAvailable();
    }
  }

  private created(): void {
    this.board = JSON.parse(JSON.stringify(BOARD.BOARD));
    this.updateLocalBoard(this.zk_board);
    this.makeBoardAvailable();
  }

  private updateLocalBoard(movesArray: Array<any>): void {
    this.board.forEach((row: any) => {
      row.row.forEach((col: any) => {
        movesArray.forEach((field: any) => {
          if (col.cell.x == field.x && col.cell.y == field.y) {
            col.cell.isAvailable = false;
            col.cell.isBorder = false;
            col.cell.value = field.letter;
          }
        });
      });
    });
  }

  private updateAvailableCells(): void {
    const users = this.zk_users;

    users.forEach((user: any) => {
      if (user.id == info.getAlias()) {
        const usedLetters = user.move;
        this.makeAllUnavailable();
        if (usedLetters.length == 0) {
          // If first turn and no letters played, center available
          if (this.zk_board.length == 0) {
            this.makeAvailable(8, 8);
          } else {
            this.makeBoardAvailable();
          }
        } else if (usedLetters.length == 1) {
          // If one letter played, around available
          this.makeBorder(usedLetters[0].x, usedLetters[0].y);
          this.makeAroundAvailable(usedLetters[0].x, usedLetters[0].y);
          // If zk_board has letters, save first letter played
          if (this.zk_board.length > 0) {
            this.first_letter = usedLetters[0];
          }
        } else if (usedLetters.length > 0) {
          // If multiple letters played, borders can be closed
          const direction = this.getDirection(usedLetters);
          const borderLetters = this.getBorderLetters(usedLetters, direction);
          if (
            borderLetters.first.x != this.first_letter.x ||
            borderLetters.first.y != this.first_letter.y
          )
            this.makeBorder(borderLetters.first.x, borderLetters.first.y);
          if (
            borderLetters.last.x != this.first_letter.x ||
            borderLetters.last.y != this.first_letter.y
          )
            this.makeBorder(borderLetters.last.x, borderLetters.last.y);
          if (usedLetters.length != 7) {
            if (direction == "V") {
              this.makeAvailable(
                borderLetters.first.x - 1,
                borderLetters.first.y
              );
              this.makeAvailable(
                borderLetters.last.x + 1,
                borderLetters.last.y
              );
            } else {
              this.makeAvailable(
                borderLetters.first.x,
                borderLetters.first.y - 1
              );
              this.makeAvailable(
                borderLetters.last.x,
                borderLetters.last.y + 1
              );
            }
          }
        }
      }
    });
  }

  private makeAroundAvailable(x: number, y: number): void {
    this.makeAvailable(x + 1, y);
    this.makeAvailable(x - 1, y);
    this.makeAvailable(x, y + 1);
    this.makeAvailable(x, y - 1);
  }

  private makeBoardAvailable(): void {
    this.board.forEach(row => {
      row.row.forEach(col => {
        this.zk_board.forEach((field: any) => {
          if (col.cell.x == field.x && col.cell.y == field.y) {
            this.makeAroundAvailable(col.cell.x, col.cell.y);
          }
        });
      });
    });
  }

  private makeAvailable(x: number, y: number): void {
    this.board.forEach(row => {
      if (row.id == x) {
        row.row.forEach(col => {
          if (col.cell.y == y) {
            if (!col.cell.value) {
              col.cell.isAvailable = true;
            } else {
              this.canBeAvailable(x, y, col.cell.value);
            }
          }
        });
      }
    });
  }

  private makeBorder(x: number, y: number): void {
    this.board.forEach(row => {
      if (row.id == x) {
        row.row.forEach(col => {
          if (col.cell.y == y) {
            col.cell.isBorder = true;
          }
        });
      }
    });
  }

  private makeAllUnavailable(): void {
    this.board.forEach(row => {
      row.row.forEach(col => {
        col.cell.isAvailable = false;
        col.cell.isBorder = false;
      });
    });
  }

  private canBeAvailable(x: number, y: number, value: any): void {
    const users = this.zk_users;
    users.forEach((user: any) => {
      if (user.id == info.getAlias()) {
        const usedLetters = user.move;
        if (this.zk_board.length > 0 && usedLetters.length > 0) {
          const possibleLetters = JSON.parse(JSON.stringify(usedLetters));
          possibleLetters.push({
            x,
            y,
            letter: value,
            user: ""
          });
          const direction = this.getDirection(possibleLetters);
          const borderLetters = this.getBorderLetters(
            possibleLetters,
            direction
          );
          if (direction == "V" && borderLetters.first.x == x)
            this.makeAvailable(
              borderLetters.first.x - 1,
              borderLetters.first.y
            );
          if (direction == "V" && borderLetters.last.x == x)
            this.makeAvailable(borderLetters.last.x + 1, borderLetters.last.y);
          if (direction == "H" && borderLetters.first.y == y)
            this.makeAvailable(
              borderLetters.first.x,
              borderLetters.first.y - 1
            );
          if (direction == "H" && borderLetters.last.y == y)
            this.makeAvailable(borderLetters.last.x, borderLetters.last.y + 1);
        }
      }
    });
  }

  private getDirection(
    letters: [{ x: number; y: number; letter: {}; user: string }]
  ): "H" | "V" {
    let vertical_direction = true;
    letters.forEach((cell, index) => {
      if (index !== 0 && cell.y != letters[index - 1].y) {
        vertical_direction = false;
      }
    });
    if (vertical_direction) return "V";
    else return "H";
  }

  private getBorderLetters(
    letters: [{ x: number; y: number; letter: {}; user: string }],
    direction: "H" | "V"
  ): {
    first: { x: number; y: number; letter: {}; user: string };
    last: { x: number; y: number; letter: {}; user: string };
  } {
    if (direction == "V") {
      letters.sort(
        (
          a: { x: number; y: number; letter: {}; user: string },
          b: { x: number; y: number; letter: {}; user: string }
        ) => {
          return a.x - b.x;
        }
      );
    } else {
      letters.sort(
        (
          a: { x: number; y: number; letter: {}; user: string },
          b: { x: number; y: number; letter: {}; user: string }
        ) => {
          return a.y - b.y;
        }
      );
    }
    return { first: letters[0], last: letters[letters.length - 1] };
  }
}
</script>

<style lang="scss">
.tableBoard {
  border: 5px solid green;
}

.boardMargin {
  margin-bottom: 60px;
}
</style>
