<template>
  <th
    :class="
      `cell ${
        available && zk_status == 'In game' && alias == zk_turn
          ? 'animated flash'
          : ''
      }`
    "
  >
    <v-card
      :color="cellColor"
      class="d-flex justify-center align-center cellCard"
      outlined
    >
      <div v-if="!hasValue">
        <v-select
          v-model="newValue"
          :items="playerLetters"
          item-text="symbol"
          item-value="id"
          class="mb-0"
          v-if="
            available &&
              zk_status == 'In game' &&
              alias == zk_turn &&
              playerLetters.length > 0
          "
          outlined
          return-object
          @change="setUsedLetter"
        ></v-select>
      </div>
      <v-chip
        :close="border && zk_status == 'In game'"
        v-if="hasValue"
        @click:close="removeSelection"
        label
      >
        <p class="mb-0 text-center">
          {{ newValue.symbol }} <sub>{{ newValue.value }}</sub>
        </p>
      </v-chip>
    </v-card>
    <v-dialog v-model="isBlank" width="400" persistent>
      <v-card>
        <v-card-title class="headline grey lighten-2 text-center">
          Seleccione una letra
        </v-card-title>

        <v-card-text class="text-center pa-6">
          <v-select
            v-model="isBlankSymbol"
            :items="comodinLetters"
            class="mb-0"
            label="Indique una letra"
            outlined
          ></v-select>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions class="d-flex justify-space-around">
          <v-btn color="primary" text @click="setUsedLetter()">
            Seleccionar letra
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </th>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop, Watch } from "vue-property-decorator";
import info from "@/utils/info.util";
import letters from "@/config/letters.language";
import { setData } from "@/utils/zk-client.util";

@Component
export default class Cell extends Vue {
  @Prop() x!: number;
  @Prop() y!: number;
  @Prop() multiplicator!: number;
  @Prop() multiplicatorType!: string;
  @Prop() isAvailable!: boolean;
  @Prop() isBorder!: boolean;
  @Prop() value!: any;

  isBlank = false;
  isBlankSymbol = "";
  available = this.isAvailable;
  border = this.isBorder;
  hasValue = this.value ? true : false;
  newValue = this.value;
  cellColor = "white";
  comodinLetters = this.gameLanguage == "ES" ? letters.ES : letters.EN;
  alias = info.getAlias();

  @Watch("isAvailable")
  private setAvailable(val: boolean) {
    this.available = val;
  }

  @Watch("isBorder")
  private setBorder(val: boolean) {
    this.border = val;
  }

  @Watch("value")
  private setValue(val: boolean) {
    this.hasValue = val ? true : false;
    this.newValue = val;
  }

  private mounted(): void {
    this.setCellColor(`${this.multiplicatorType}x${this.multiplicator}`);
  }

  private get zk_status(): any {
    return this.$store.getters["board/getZKStatus"];
  }

  private get zk_turn(): any {
    return this.$store.getters["board/getZKTurn"];
  }

  private setCellColor(type: string): void {
    switch (type) {
      case "wordx3":
        this.cellColor = "red";
        break;
      case "wordx2":
        this.cellColor = "yellow";
        break;
      case "letterx3":
        this.cellColor = "blue";
        break;
      case "letterx2":
        this.cellColor = "cyan";
        break;
      default:
        break;
    }
  }

  private get zk_users(): any {
    return this.$store.getters["board/getZKUsers"];
  }

  private async setUsedLetter(): Promise<void> {
    if (this.isBlankSymbol) {
      this.newValue.symbol = this.isBlankSymbol;
      this.isBlank = false;
    }

    if (this.newValue.symbol) {
      const users = this.zk_users;

      users.forEach((user: any) => {
        if (user.id == info.getAlias()) {
          user.move.push({
            x: this.x,
            y: this.y,
            letter: this.newValue,
            user: user.id
          });

          this.hasValue = true;
          this.available = false;
          const availableLetters = user.tiles;
          const usedLetters = user.move;
          const newPlayerLetters: any[] = [];

          for (let index = 0; index < availableLetters.length; index++) {
            let check = true;
            for (
              let indexUsed = 0;
              indexUsed < usedLetters.length;
              indexUsed++
            ) {
              if (
                availableLetters[index].id == usedLetters[indexUsed].letter.id
              ) {
                check = false;
              }
            }

            if (check) {
              newPlayerLetters.push(availableLetters[index]);
            }
          }

          user.tiles = newPlayerLetters;
        }
      });

      setData(
        `/g3_game/rooms/${this.$route.params.room_id}/users`,
        JSON.stringify(users)
      ).then(() => {
        this.$emit("updateAvailableCells");
      });
    } else {
      this.isBlank = true;
    }
  }

  private removeSelection(): void {
    const users = this.zk_users;

    users.forEach((user: any) => {
      if (user.id == info.getAlias()) {
        const newAvailableLetters = user.tiles;
        const usedLetters = user.move;
        const newUsedLetters = [];

        if (this.newValue.symbol && this.newValue.value == 0) {
          this.newValue.symbol = "";
          this.isBlankSymbol = "";
        }

        for (let index = 0; index < usedLetters.length; index++) {
          if (this.newValue.id == usedLetters[index].letter.id) {
            newAvailableLetters.push(this.newValue);
            index = usedLetters.length;
          }
        }

        for (let indexUsed = 0; indexUsed < usedLetters.length; indexUsed++) {
          if (usedLetters[indexUsed].letter.id !== this.newValue.id) {
            newUsedLetters.push(usedLetters[indexUsed]);
          }
        }

        user.tiles = newAvailableLetters;
        user.move = newUsedLetters;
      }
    });

    setData(
      `/g3_game/rooms/${this.$route.params.room_id}/users`,
      JSON.stringify(users)
    ).then(() => {
      this.hasValue = false;
      this.available = true;
      this.newValue = { symbol: "N/A", value: 0, id: 0 };

      this.$emit("updateAvailableCells");
    });
  }

  private get playerLetters(): any {
    const users = this.$store.getters["board/getZKUsers"];
    let letters: any = [];
    users.forEach((user: any) => {
      if (user.id == info.getAlias()) {
        letters = user.tiles;
      }
    });
    return letters;
  }

  private get gameLanguage(): any {
    return this.$store.getters["board/getZKLanguage"];
  }
}
</script>

<style lang="scss" scoped>
.cell {
  border: 1px solid black;
  width: 85px !important;
  height: 65px !important;
}

.cellCard {
  height: 100%;
  width: 100%;
}

.animated {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes flash {
  0%,
  50%,
  100% {
    border: 2px solid rgba(77, 5, 232, 1);
  }
  25%,
  75% {
    border: 2px solid rgba(77, 5, 232, 0);
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

::v-deep .v-card {
  border-radius: 0px !important;
}

::v-deep .v-input__slot {
  margin-bottom: 0px !important;
}

::v-deep .v-text-field__details {
  display: none !important;
}
</style>
