<template>
  <v-footer
    app
    color="teal"
    class="d-flex align-start justify-space-around justify-sm-space-between"
  >
    <v-row v-if="playerLetters.length > 0">
      <v-col class="d-flex justify-center">
        <v-card
          elevation="5"
          class="pa-3 mr-1 d-flex align-center justify-center"
          height="65"
          width="85"
          v-for="letter in playerLetters"
          :key="letter.id"
        >
          <p class="mb-0 text-center text-h6" v-if="letter.symbol">
            {{ letter.symbol }} <sub>{{ letter.value }}</sub>
          </p>
          <p class="mb-0 text-center text-h6" v-if="!letter.symbol">
            <v-icon large>mdi-crown</v-icon> <sub>{{ letter.value }}</sub>
          </p>
        </v-card>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import info from "@/utils/info.util";

@Component
export default class PlayerLetters extends Vue {
  private get playerLetters(): any {
    const users = this.$store.getters["board/getZKUsers"];
    let letters: any = [];
    users.forEach((user: any) => {
      if (user.id == info.getAlias()) {
        letters = user.tiles;
      }
    });
    return letters;
  }
}
</script>

<style lang="scss"></style>
