<template>
  <v-container fluid>
    <v-row>
      <v-col cols="10">
        <Board />
      </v-col>
      <v-col cols="2" v-if="!loading">
        <v-row>
          <v-col>
            <v-card
              style="width: 100%;"
              class="pa-1 my-3"
              v-if="zk_status == 'Waiting for users'"
            >
              <v-list dense disabled>
                <h4 class="text-center mb-1">Jugadores</h4>
                <v-list-item-group color="teal">
                  <v-list-item v-for="(user, index) in zk_users" :key="index">
                    <v-list-item-content>
                      <v-list-item-title>{{ user.id }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-card>
            <v-card
              style="width: 100%;"
              class="pa-1 my-3"
              v-if="zk_status != 'Waiting for users'"
            >
              <v-list dense disabled>
                <h4 class="text-center mb-1">Puntaje actual</h4>
                <v-list-item-group color="teal">
                  <v-list-item v-for="(user, index) in zk_users" :key="index">
                    <v-list-item-content>
                      <v-list-item-title
                        >{{ user.id }}: {{ user.score }}</v-list-item-title
                      >
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list> </v-card
            ><v-card
              style="width: 100%;"
              class="pa-1 my-3"
              v-if="zk_status != 'Waiting for users'"
            >
              <v-list dense disabled>
                <h4 class="text-center mb-1">Turno</h4>
                <v-list-item-group color="teal" v-model="selectedUser">
                  <v-list-item v-for="(user, index) in zk_users" :key="index">
                    <v-list-item-content>
                      <v-list-item-title
                        >{{ index + 1 }}. {{ user.id }}</v-list-item-title
                      >
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
        <v-row class="mb-3">
          <v-col v-if="zk_status == 'In game'">
            <v-btn
              block
              class="mb-5"
              @click="playWord()"
              :disabled="
                alias != zk_turn ||
                  (zk_users[selectedUser].move.length < 2 &&
                    zk_board.length == 0) ||
                  (zk_users[selectedUser].move.length < 1 &&
                    zk_board.length > 0)
              "
            >
              Jugar Palabra
            </v-btn>
            <v-btn
              block
              class="mb-5"
              :disabled="
                alias != zk_turn || zk_users[selectedUser].move.length > 0
              "
              @click="getUserTiles()"
            >
              Cambiar Letras
            </v-btn>
            <v-btn
              block
              class="mb-5"
              @click="dialogPassTurn = true"
              :disabled="
                alias != zk_turn || zk_users[selectedUser].move.length > 0
              "
            >
              Saltar Turno
            </v-btn>
          </v-col>
          <v-col v-if="zk_status == 'Waiting for users'">
            <v-btn
              block
              @click="playerReady()"
              :loading="loadingReady"
              :disabled="disabledReady || zk_users.length == 1"
            >
              Iniciar juego
            </v-btn>
            <div class="d-flex justify-center" style="width:100%;">
              <v-chip label class="mt-2"
                >({{ zk_pass }}/{{ zk_users.length }})</v-chip
              >
            </div>
          </v-col>
          <v-col
            v-if="
              zk_status == 'Verifying' &&
                verifyingPlayerWord == true &&
                !userIsPlaying
            "
          >
            <v-card class="pa-3 my-3">
              <h4 class="text-center mb-3">Verificar jugada</h4>
              <v-btn
                block
                class="mb-1"
                color="success"
                @click="finishPlayerVerification(true)"
              >
                Valida </v-btn
              ><v-btn
                block
                color="error"
                @click="finishPlayerVerification(false)"
              >
                Invalida
              </v-btn>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="d-flex justify-space-between">
            <v-card color="red" class="pa-3 mr-1" style="width: 100%;">
              <p class="mb-0 text-center">x3</p>
              <p class="mb-0 text-center">Palabra</p>
            </v-card>
            <v-card color="yellow" class="pa-3" style="width: 100%;">
              <p class="mb-0 text-center">x2</p>
              <p class="mb-0 text-center">Palabra</p>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="d-flex justify-space-between">
            <v-card color="blue" class="pa-3 mr-1" style="width: 100%;">
              <p class="mb-0 text-center">x3</p>
              <p class="mb-0 text-center">Letra</p>
            </v-card>
            <v-card color="cyan" class="pa-3" style="width: 100%;">
              <p class="mb-0 text-center">x2</p>
              <p class="mb-0 text-center">Letra</p>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="2" class="d-flex justify-center" v-if="loading">
        <v-progress-circular
          :size="70"
          :width="4"
          indeterminate
          color="teal"
        ></v-progress-circular>
      </v-col>
    </v-row>
    <v-dialog v-model="dialogSettingGame" width="500" persistent>
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Preparando juego...
        </v-card-title>
        <v-card-text class="text-center pa-6">
          Letra obtenida al azar: {{ orderLetter }}
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogPassTurn" width="500" persistent>
      <v-card>
        <v-card-title class="headline grey lighten-2">
          ¿Desea pasar el turno?
        </v-card-title>
        <v-card-text class="text-center pa-6">
          Nota: si todos los jugadores actuales han pasado 2 veces de forma
          consecutiva el juego culminará.
        </v-card-text>

        <v-card-actions class="d-flex justify-space-around">
          <v-btn color="primary" text @click="dialogPassTurn = false">
            Seguir jugando
          </v-btn>
          <v-btn
            color="error"
            text
            @click="passTurn()"
            :loading="loadingPassTurn"
          >
            Pasar turno
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="finishedGame" width="500" persistent>
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Juego finalizado!!
        </v-card-title>
        <v-card-text class="text-center pa-6">
          Vuelve al menú, únete o crea una nueva sala para seguir jugando!
        </v-card-text>

        <v-card-actions class="d-flex justify-space-around">
          <v-btn color="error" text @click="goToRooms()">
            Ir a salas de juego
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogChangeTiles" width="600" persistent>
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Seleccione las fichas que desea cambiar
        </v-card-title>
        <v-card-text class="text-center pa-6">
          <v-select
            v-model="tilesToChange"
            :items="zkUserTiles"
            item-value="id"
            item-text="symbol"
            class="mb-0"
            outlined
            multiple
            return-object
          ></v-select>
        </v-card-text>

        <v-card-actions class="d-flex justify-space-around">
          <v-btn
            color="primary"
            text
            @click="changeUserTiles()"
            :loading="loadingChangeTiles"
          >
            Cambiar fichas
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogTurn" width="500">
      <v-card class="pa-6">
        <p class="mb-0 text-center">¡Es tu turno!</p>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import BOARD from "@/config/board.ts";
import Board from "@/components/board/Board.vue";
import {
  getZKWatcher,
  getData,
  setData,
  getZKLock,
  createZKNode
} from "@/utils/zk-client.util";
import info from "@/utils/info.util";
import { Watch } from "vue-property-decorator";

@Component({
  components: {
    Board
  }
})
export default class Game extends Vue {
  board: {
    row: {
      cell: {
        x: number;
        y: number;
        multiplicator: number;
        multiplicatorType: string | null;
        isAvailable: boolean;
        isBorder: boolean;
        value: any | null;
      };
    }[];
    id: number;
  }[] = BOARD.BOARD;

  alias = info.getAlias();

  loading = true;
  loadingReady = false;
  loadingPassTurn = false;
  loadingChangeTiles = false;
  finishedGame = false;
  disabledReady = false;
  dialogSettingGame = false;
  dialogPassTurn = false;
  dialogChangeTiles = false;
  dialogTurn = false;
  orderLetter = "";
  verifyingPlayerWord = false;
  tilesToChange = [];
  zkUserTiles = [];

  zkWatcher = getZKWatcher();

  private getUserTiles() {
    this.dialogChangeTiles = true;
    let userTiles: any;
    this.zk_users.forEach((user: any) => {
      if (user.id == info.getAlias()) {
        userTiles = user.tiles;
      }
    });
    this.zkUserTiles = userTiles;
  }

  private async mounted(): Promise<void> {
    // Create ephemereal node
    await createZKNode(
      `/g3_game/rooms/${this.$route.params.room_id}/connections/${this.alias}`
    );

    // Status
    const status: any = await getData(
      `/g3_game/rooms/${this.$route.params.room_id}/status`
    );
    this.$store.dispatch(
      "board/setZKStatus",
      status.data.replace(/['"]+/g, "")
    );

    // Status
    const language: any = await getData(
      `/g3_game/rooms/${this.$route.params.room_id}/language`
    );
    this.$store.dispatch(
      "board/setZKLanguage",
      language.data.replace(/['"]+/g, "")
    );

    this.zkWatcher.watch(
      `/g3_game/rooms/${this.$route.params.room_id}/status`,
      (err: any, val: any, stat: any) => {
        if (val) {
          const status = val.toString("utf-8").replace(/['"]+/g, "");
          this.$store.dispatch("board/setZKStatus", status);
          switch (status) {
            case "Setting game":
              this.grabOrderLetter();
              break;
            case "Finished":
              this.finishedGame = true;
              break;
            default:
              break;
          }
        }
      }
    );
    // Pass
    const pass: any = await getData(
      `/g3_game/rooms/${this.$route.params.room_id}/pass`
    );
    this.$store.dispatch("board/setZKPass", parseInt(pass.data));
    this.zkWatcher.watch(
      `/g3_game/rooms/${this.$route.params.room_id}/pass`,
      (err: any, val: any, stat: any) => {
        if (val) {
          const pass = val.toString("utf-8");
          this.$store.dispatch("board/setZKPass", parseInt(pass));
        }
      }
    );
    // Users
    const users: any = await getData(
      `/g3_game/rooms/${this.$route.params.room_id}/users`
    );
    this.$store.dispatch("board/setZKUsers", JSON.parse(users.data));
    this.zkWatcher.watch(
      `/g3_game/rooms/${this.$route.params.room_id}/users`,
      (err: any, val: any, stat: any) => {
        if (val) {
          const actual_users = JSON.parse(val.toString("utf-8"));
          this.$store.dispatch("board/setZKUsers", actual_users);
          switch (this.zk_status) {
            case "Setting game":
              this.orderUsers();
              break;
            default:
              break;
          }
        }
      }
    );
    // Board
    this.zkWatcher.watch(
      `/g3_game/rooms/${this.$route.params.room_id}/board`,
      (err: any, val: any, stat: any) => {
        if (val) {
          const actual_board = JSON.parse(val.toString("utf-8"));
          this.$store.dispatch("board/setZKBoard", actual_board);
        }
      }
    );
    // Turn
    this.zkWatcher.watch(
      `/g3_game/rooms/${this.$route.params.room_id}/turn`,
      (err: any, val: any, stat: any) => {
        if (val) {
          const turn = val.toString("utf-8").replace(/['"]+/g, "");
          this.$store.dispatch("board/setZKTurn", turn);
          switch (this.zk_turn) {
            case this.alias:
              if (this.zk_status == "Verifying") {
                if (!this.userIsPlaying) {
                  this.dialogTurn = true;
                }
                this.verifyPlayerMove();
              } else {
                this.dialogTurn = true;
              }
              break;
            default:
              break;
          }
        }
      }
    );
    // Bag
    this.zkWatcher.watch(
      `/g3_game/rooms/${this.$route.params.room_id}/bag`,
      (err: any, val: any, stat: any) => {
        if (val) {
          const actual_bag = JSON.parse(val.toString("utf-8"));
          this.$store.dispatch("board/setZKBag", actual_bag);
        }
      }
    );
    // Verify
    this.zkWatcher.watch(
      `/g3_game/rooms/${this.$route.params.room_id}/verify`,
      (err: any, val: any, stat: any) => {
        if (val) {
          const verify = val.toString("utf-8");
          this.$store.dispatch("board/setZKVerify", verify);
        }
      }
    );

    this.loading = false;
  }

  private goToRooms() {
    this.finishedGame = false;
    this.$router.push("/rooms");
  }

  private get zk_board(): any {
    return this.$store.getters["board/getZKBoard"];
  }

  private get zk_pass(): any {
    return this.$store.getters["board/getZKPass"];
  }

  private get zk_users(): any {
    return this.$store.getters["board/getZKUsers"];
  }

  private get zk_status(): any {
    return this.$store.getters["board/getZKStatus"];
  }

  private get zk_bag(): any {
    return this.$store.getters["board/getZKBag"];
  }

  private get zk_turn(): any {
    return this.$store.getters["board/getZKTurn"];
  }

  private get zk_verify(): any {
    return this.$store.getters["board/getZKVerify"];
  }

  @Watch("zk_board")
  private updateZKBoard() {
    this.board = JSON.parse(JSON.stringify(BOARD.BOARD));
    this.updateLocalBoard(this.zk_board);
  }

  private updateLocalBoard(movesArray: Array<any>): void {
    this.board.forEach((row: any) => {
      row.row.forEach((col: any) => {
        movesArray.forEach((field: any) => {
          if (col.cell.x == field.x && col.cell.y == field.y) {
            col.cell.isAvailable = false;
            col.cell.isBorder = false;
            col.cell.value = field.letter;
          }
        });
      });
    });
  }

  private get selectedUser(): any {
    let userNumber = 0;
    if (this.zk_turn && this.zk_users.length > 0) {
      this.zk_users.forEach((user: any, index: number) => {
        if (user.id == this.zk_turn) {
          userNumber = index;
        }
      });
    }
    return userNumber;
  }

  private get userIsPlaying(): any {
    let userIsPlaying = false;
    this.zk_users.forEach((user: any) => {
      if (user.id == this.alias && user.move.length > 0) {
        userIsPlaying = true;
      }
    });
    return userIsPlaying;
  }

  // El usuario indica que está listo para iniciar el juego
  private playerReady() {
    const zkLock = getZKLock();
    this.loadingReady = true;
    zkLock
      .lock(`lock/g3_game/rooms/${this.$route.params.room_id}/pass`)
      .then(() => {
        const pass = this.zk_pass + 1;
        if (this.zk_users.length > pass) {
          setData(
            `/g3_game/rooms/${this.$route.params.room_id}/pass`,
            pass.toString()
          ).then(() => {
            zkLock.unlock();
            this.loadingReady = false;
            this.disabledReady = true;
          });
        }

        if (this.zk_users.length == pass) {
          setData(
            `/g3_game/rooms/${this.$route.params.room_id}/pass`,
            "0"
          ).then(() => {
            setData(
              `/g3_game/rooms/${this.$route.params.room_id}/status`,
              "Setting game"
            ).then(() => {
              zkLock.unlock();
              this.loadingReady = false;
              this.disabledReady = true;
            });
          });
        }
      });
  }

  // El usuario obtiene una ficha al azar para decidir su orden en el juego
  private grabOrderLetter() {
    const zkLock = getZKLock();
    this.dialogSettingGame = true;
    zkLock
      .lock(`lock/g3_game/rooms/${this.$route.params.room_id}/users`)
      .then(() => {
        this.zk_users.forEach((user: any) => {
          const letter = this.zk_bag[
            Math.floor(Math.random() * this.zk_bag.length)
          ];
          if (user.id == info.getAlias() && user.tiles.length == 0) {
            this.orderLetter = letter.symbol;
            user.tiles.push(letter);
          }
        });
        setData(
          `/g3_game/rooms/${this.$route.params.room_id}/users`,
          JSON.stringify(this.zk_users)
        ).then(() => {
          zkLock.unlock();
        });
      });
  }

  // Etapa de verificación de jugada
  private verifyPlayerMove() {
    this.verifyingPlayerWord == false;
    let userIsPlaying = false;
    const users = this.zk_users;
    users.forEach((user: any) => {
      if (this.alias == user.id && user.move.length > 0) {
        userIsPlaying = true;
      }
    });
    if (!userIsPlaying) {
      // Verifico la jugada de otro usuario
      this.verifyingPlayerWord = true;
    } else {
      // Terminó la verificación de mi jugada
      this.finishVerification();
    }
  }

  // Verifico la jugada de otro usuario
  private async finishPlayerVerification(wordIsCorrect = true) {
    if (this.verifyingPlayerWord) {
      let verify = this.zk_verify;
      if (wordIsCorrect == true) {
        verify++;
      }
      await setData(
        `/g3_game/rooms/${this.$route.params.room_id}/verify`,
        verify.toString()
      );
      let turn_index;
      if (this.selectedUser + 1 < this.zk_users.length) {
        turn_index = this.selectedUser + 1;
      } else if (this.selectedUser + 1 == this.zk_users.length) {
        turn_index = 0;
      }
      await setData(
        `/g3_game/rooms/${this.$route.params.room_id}/turn`,
        this.zk_users[turn_index].id
      );
      this.verifyingPlayerWord = false;
    }
  }

  // Terminó la verificación de mi jugada
  private async finishVerification() {
    const users = this.zk_users;
    if (this.zk_verify >= this.zk_users.length / 2) {
      let lastGameMove = false;
      const board = JSON.parse(JSON.stringify(this.zk_board));
      const bag = this.zk_bag;
      let word_score = 0;
      users.forEach((user: any) => {
        if (this.alias == user.id) {
          user.move.forEach((tile: any) => {
            board.push(tile);
          });
          word_score = this.getWordScore(user.move);
          user.score = user.score + word_score;
          let tilesToAdd = user.move.length;
          if (bag.length < user.move.length) {
            tilesToAdd = bag.length;
          }
          for (let index = 0; index < tilesToAdd; index++) {
            user.tiles.push(
              bag.splice(Math.floor(Math.random() * bag.length), 1)[0]
            );
          }
          user.move = [];
          lastGameMove = bag.length == 0 && user.tiles.length == 0;
        }
      });
      if (lastGameMove) {
        let totalMinus = 0;
        users.forEach((user: any) => {
          let minus = 0;
          user.tiles.forEach((tile: any) => {
            minus = minus + tile.value;
          });
          totalMinus = totalMinus + minus;
          user.score = user.score - minus;
        });
        users.forEach((user: any) => {
          if (this.alias == user.id) {
            user.score = user.score + totalMinus;
          }
        });
        await setData(
          `/g3_game/rooms/${this.$route.params.room_id}/board`,
          JSON.stringify(board)
        );
        await setData(
          `/g3_game/rooms/${this.$route.params.room_id}/users`,
          JSON.stringify(users)
        );
        await setData(
          `/g3_game/rooms/${this.$route.params.room_id}/status`,
          "Finished"
        );
      } else {
        let turn_index;
        if (this.selectedUser + 1 < this.zk_users.length) {
          turn_index = this.selectedUser + 1;
        } else if (this.selectedUser + 1 == this.zk_users.length) {
          turn_index = 0;
        }
        await setData(`/g3_game/rooms/${this.$route.params.room_id}/pass`, "0");
        await setData(
          `/g3_game/rooms/${this.$route.params.room_id}/turn`,
          this.zk_users[turn_index].id
        );
        await setData(
          `/g3_game/rooms/${this.$route.params.room_id}/board`,
          JSON.stringify(board)
        );
        await setData(
          `/g3_game/rooms/${this.$route.params.room_id}/bag`,
          JSON.stringify(bag)
        );
        await setData(
          `/g3_game/rooms/${this.$route.params.room_id}/users`,
          JSON.stringify(users)
        );
        await setData(
          `/g3_game/rooms/${this.$route.params.room_id}/verify`,
          "0"
        );
        await setData(
          `/g3_game/rooms/${this.$route.params.room_id}/status`,
          "In game"
        );
      }
    } else {
      // const board = JSON.parse(JSON.stringify(this.zk_board));
      // users.forEach((user: any) => {
      //   if (this.alias == user.id) {
      //     user.move.forEach((tile: any) => {
      //       user.tiles.push(tile.letter);
      //     });
      //     user.move = [];
      //   }
      // });
      // let turn_index;
      // if (this.selectedUser + 1 < this.zk_users.length) {
      //   turn_index = this.selectedUser + 1;
      // } else if (this.selectedUser + 1 == this.zk_users.length) {
      //   turn_index = 0;
      // }
      // await setData(
      //   `/g3_game/rooms/${this.$route.params.room_id}/turn`,
      //   this.zk_users[turn_index].id
      // );
      // await setData(
      //   `/g3_game/rooms/${this.$route.params.room_id}/board`,
      //   JSON.stringify(board)
      // );
      // await setData(`/g3_game/rooms/${this.$route.params.room_id}/pass`, "0");
      // await setData(
      //   `/g3_game/rooms/${this.$route.params.room_id}/users`,
      //   JSON.stringify(users)
      // );
      await setData(`/g3_game/rooms/${this.$route.params.room_id}/verify`, "0");
      await setData(
        `/g3_game/rooms/${this.$route.params.room_id}/status`,
        "In game"
      );
    }
    this.verifyingPlayerWord = false;
  }

  // Se comparan las fichas iniciales obtenidas por los usuarios para decidir el orden del juego
  private orderUsers() {
    const zkLock = getZKLock();
    let playersGotLetter = true;
    this.zk_users.forEach((user: any) => {
      if (user.tiles.length == 0) {
        playersGotLetter = false;
      }
    });
    if (playersGotLetter) {
      zkLock
        .lock(`lock/g3_game/rooms/${this.$route.params.room_id}/users`)
        .then(async () => {
          if (this.zk_status == "Setting game") {
            const playerOrder = this.zk_users.sort((a: any, b: any) => {
              if (a.tiles[0].symbol > b.tiles[0].symbol) {
                return 1;
              } else if (a.tiles[0].symbol < b.tiles[0].symbol) {
                return -1;
              }
              return 0;
            });
            const bag = this.zk_bag;
            playerOrder.forEach((user: any) => {
              user.tiles = [];
              for (let index = 0; index < 7; index++) {
                user.tiles.push(
                  bag.splice(Math.floor(Math.random() * bag.length), 1)[0]
                );
              }
            });
            await setData(
              `/g3_game/rooms/${this.$route.params.room_id}/bag`,
              JSON.stringify(bag)
            );
            await setData(
              `/g3_game/rooms/${this.$route.params.room_id}/turn`,
              playerOrder[0].id
            );
            await setData(
              `/g3_game/rooms/${this.$route.params.room_id}/status`,
              "In game"
            );
            await setData(
              `/g3_game/rooms/${this.$route.params.room_id}/users`,
              JSON.stringify(playerOrder)
            );
          }
          zkLock.unlock();
          this.dialogSettingGame = false;
        });
    }
  }

  private async playWord(): Promise<void> {
    await setData(`/g3_game/rooms/${this.$route.params.room_id}/verify`, "0");
    let turn_index;
    if (this.selectedUser + 1 < this.zk_users.length) {
      turn_index = this.selectedUser + 1;
    } else if (this.selectedUser + 1 == this.zk_users.length) {
      turn_index = 0;
    }
    await setData(
      `/g3_game/rooms/${this.$route.params.room_id}/status`,
      "Verifying"
    );
    await setData(
      `/g3_game/rooms/${this.$route.params.room_id}/turn`,
      this.zk_users[turn_index].id
    );
  }

  private async passTurn(): Promise<void> {
    this.loadingPassTurn = true;
    let turn_index;
    if (this.selectedUser + 1 < this.zk_users.length) {
      turn_index = this.selectedUser + 1;
    } else if (this.selectedUser + 1 == this.zk_users.length) {
      turn_index = 0;
    }
    await setData(
      `/g3_game/rooms/${this.$route.params.room_id}/turn`,
      this.zk_users[turn_index].id
    );

    const newPass = this.zk_pass + 1;
    if (newPass == this.zk_users.length * 2) {
      const users = this.zk_users;
      users.forEach((user: any) => {
        let minus = 0;
        user.tiles.forEach((tile: any) => {
          minus = minus + tile.value;
        });
        user.score = user.score - minus;
      });
      await setData(
        `/g3_game/rooms/${this.$route.params.room_id}/users`,
        JSON.stringify(users)
      );
      await setData(
        `/g3_game/rooms/${this.$route.params.room_id}/status`,
        "Finished"
      );
      await setData(`/g3_game/rooms/${this.$route.params.room_id}/turn`, "");
    } else {
      await setData(
        `/g3_game/rooms/${this.$route.params.room_id}/pass`,
        newPass.toString()
      );
    }
    this.loadingPassTurn = false;
    this.dialogPassTurn = false;
  }

  private async changeUserTiles() {
    this.loadingChangeTiles = true;
    this.dialogChangeTiles = false;
    const bag = this.zk_bag;
    const users = this.zk_users;
    const newUserTiles: any = [];

    users.forEach((user: any) => {
      if (user.id == info.getAlias()) {
        user.tiles.forEach((tile: any) => {
          let check = true;
          this.tilesToChange.forEach((changeTile: any) => {
            if (tile.id == changeTile.id) {
              check = false;
            }
          });
          if (check) {
            newUserTiles.push(tile);
          }
        });

        user.tiles = newUserTiles;
        const newTiles = 7 - newUserTiles.length;
        if (bag.length >= newTiles) {
          for (let index = 0; index < newTiles; index++) {
            user.tiles.push(
              bag.splice(Math.floor(Math.random() * bag.length), 1)[0]
            );
          }
          this.tilesToChange.forEach((tile: any) => {
            bag.push(tile);
          });
        } else {
          user.tiles = this.tilesToChange;
        }
      }
    });

    let turn_index;

    if (this.selectedUser + 1 < this.zk_users.length) {
      turn_index = this.selectedUser + 1;
    } else if (this.selectedUser + 1 == this.zk_users.length) {
      turn_index = 0;
    }

    await setData(
      `/g3_game/rooms/${this.$route.params.room_id}/turn`,
      this.zk_users[turn_index].id
    );

    await setData(
      `/g3_game/rooms/${this.$route.params.room_id}/bag`,
      JSON.stringify(bag)
    );

    await setData(
      `/g3_game/rooms/${this.$route.params.room_id}/users`,
      JSON.stringify(users)
    );

    await setData(`/g3_game/rooms/${this.$route.params.room_id}/pass`, "0");
    this.tilesToChange = [];
    this.loadingChangeTiles = false;
  }

  private getWordScore(
    usedLetters: {
      x: number;
      y: number;
      letter: { symbol: string; value: number; id: number };
      user: string;
    }[]
  ): number {
    let word_score = 0;
    if (this.zk_board.length == 0) {
      // Get user letters scores
      usedLetters.forEach(letter => {
        this.board.forEach(row => {
          row.row.forEach(col => {
            if (letter.x == col.cell.x && letter.y == col.cell.y) {
              if (col.cell.multiplicatorType == "letter") {
                word_score =
                  word_score + letter.letter.value * col.cell.multiplicator;
              } else {
                word_score = word_score + letter.letter.value;
              }
            }
          });
        });
      });
      // Get word scores
      usedLetters.forEach(letter => {
        this.board.forEach(row => {
          row.row.forEach(col => {
            if (letter.x == col.cell.x && letter.y == col.cell.y) {
              if (col.cell.multiplicatorType == "word") {
                word_score = word_score * col.cell.multiplicator;
              }
            }
          });
        });
      });
    }
    // Get zk letters scores
    if (this.zk_board.length > 0) {
      word_score = word_score + this.getZKLettersScores(usedLetters);
    }
    if (usedLetters.length == 7) {
      word_score = word_score + 50;
    }
    return word_score;
  }

  private getZKLettersScores(
    letters: { x: number; y: number; letter: {}; user: string }[]
  ): number {
    let zk_score = 0;
    const allLetters = JSON.parse(JSON.stringify(letters));
    let direction = this.getDirection(allLetters);
    const borderLetters = this.getBorderLetters(allLetters, direction);
    let first = this.borderLetter("first", direction, {
      x: borderLetters.first.x,
      y: borderLetters.first.y
    });
    let last = this.borderLetter("last", direction, {
      x: borderLetters.last.x,
      y: borderLetters.last.y
    });
    if (allLetters.length == 1 && (first.x != last.x || first.y != last.y)) {
      direction = direction == "V" ? "H" : "V";
      first = this.borderLetter("first", direction, {
        x: borderLetters.first.x,
        y: borderLetters.first.y
      });
      last = this.borderLetter("last", direction, {
        x: borderLetters.last.x,
        y: borderLetters.last.y
      });
    }
    zk_score =
      zk_score +
      this.getInBetweenLettersScore(
        JSON.parse(JSON.stringify(letters)),
        direction,
        first,
        last
      );
    return zk_score;
  }

  private getDirection(
    letters: [{ x: number; y: number; letter: {}; user: string }]
  ): "H" | "V" {
    let vertical_direction = true;
    letters.forEach((cell, index) => {
      if (index !== 0 && cell.y != letters[index - 1].y) {
        vertical_direction = false;
      }
    });
    if (vertical_direction) return "V";
    else return "H";
  }

  private getBorderLetters(
    letters: [{ x: number; y: number; letter: {}; user: string }],
    direction: "H" | "V"
  ): {
    first: { x: number; y: number; letter: {}; user: string };
    last: { x: number; y: number; letter: {}; user: string };
  } {
    if (direction == "V") {
      letters.sort(
        (
          a: { x: number; y: number; letter: {}; user: string },
          b: { x: number; y: number; letter: {}; user: string }
        ) => {
          return a.x - b.x;
        }
      );
    } else {
      letters.sort(
        (
          a: { x: number; y: number; letter: {}; user: string },
          b: { x: number; y: number; letter: {}; user: string }
        ) => {
          return a.y - b.y;
        }
      );
    }
    return { first: letters[0], last: letters[letters.length - 1] };
  }

  private borderLetter(
    type: "first" | "last",
    direction: "H" | "V",
    letter: { x: number; y: number }
  ): { x: number; y: number } {
    let coordenates = { x: 0, y: 0 };
    this.board.forEach((row, index_r) => {
      if (row.id == letter.x) {
        row.row.forEach((col, index_c) => {
          if (col.cell.y == letter.y) {
            if (
              direction == "V" &&
              this.board[type == "first" ? index_r - 1 : index_r + 1] &&
              this.board[type == "first" ? index_r - 1 : index_r + 1].row[
                index_c
              ].cell.value
            ) {
              coordenates = this.borderLetter(type, direction, {
                x: type == "first" ? letter.x - 1 : letter.x + 1,
                y: letter.y
              });
            } else if (
              direction == "H" &&
              this.board[index_r].row[
                type == "first" ? index_c - 1 : index_c + 1
              ] &&
              this.board[index_r].row[
                type == "first" ? index_c - 1 : index_c + 1
              ].cell.value
            ) {
              coordenates = this.borderLetter(type, direction, {
                x: letter.x,
                y: type == "first" ? letter.y - 1 : letter.y + 1
              });
            } else {
              coordenates = { x: row.id, y: col.cell.y };
              return coordenates;
            }
          }
        });
      }
    });
    return coordenates;
  }

  private getInBetweenLettersScore(
    letters: {
      x: number;
      y: number;
      letter: { symbol: string; id: number; value: number };
      user: string;
    }[],
    direction: "H" | "V",
    first: { x: number; y: number },
    last: { x: number; y: number }
  ): number {
    let score = 0;
    const user_multiplicators: number[] = [];
    let user_score = 0;
    if (direction == "V") {
      for (let index = first.x; index <= last.x; index++) {
        if (!this.letterIsMine(letters, index, last.y)) {
          user_score = user_score + this.getBoardLetterScore(index, last.y);
        } else {
          if (first.x !== last.x || first.y != last.y) {
            user_score =
              user_score + this.getUserLetterScore(letters, index, last.y);
            this.board.forEach(row => {
              row.row.forEach(col => {
                if (index == col.cell.x && last.y == col.cell.y) {
                  if (col.cell.multiplicatorType == "word") {
                    user_multiplicators.push(col.cell.multiplicator);
                  }
                }
              });
            });
          }
          const first_aux = this.borderLetter("first", "H", {
            x: index,
            y: last.y
          });
          const last_aux = this.borderLetter("last", "H", {
            x: index,
            y: last.y
          });
          if (first_aux.x !== last_aux.x || first_aux.y != last_aux.y) {
            let score_aux = 0;
            const multiplicators: number[] = [];
            for (let ind = first_aux.y; ind <= last_aux.y; ind++) {
              if (!this.letterIsMine(letters, last_aux.x, ind)) {
                score_aux =
                  score_aux + this.getBoardLetterScore(last_aux.x, ind);
              } else {
                score_aux =
                  score_aux + this.getUserLetterScore(letters, last_aux.x, ind);
                this.board.forEach(row => {
                  row.row.forEach(col => {
                    if (last_aux.x == col.cell.x && ind == col.cell.y) {
                      if (col.cell.multiplicatorType == "word") {
                        multiplicators.push(col.cell.multiplicator);
                      }
                    }
                  });
                });
              }
            }
            multiplicators.forEach((mult: number) => {
              score_aux = score_aux * mult;
            });
            score = score + score_aux;
          }
        }
      }
    } else {
      for (let index = first.y; index <= last.y; index++) {
        if (!this.letterIsMine(letters, last.x, index)) {
          user_score = user_score + this.getBoardLetterScore(last.x, index);
        } else {
          if (first.x !== last.x || first.y != last.y) {
            user_score =
              user_score + this.getUserLetterScore(letters, last.x, index);
            this.board.forEach(row => {
              row.row.forEach(col => {
                if (last.x == col.cell.x && index == col.cell.y) {
                  if (col.cell.multiplicatorType == "word") {
                    user_multiplicators.push(col.cell.multiplicator);
                  }
                }
              });
            });
          }
          const first_aux = this.borderLetter("first", "V", {
            x: last.x,
            y: index
          });
          const last_aux = this.borderLetter("last", "V", {
            x: last.x,
            y: index
          });
          if (first_aux.x !== last_aux.x || first_aux.y != last_aux.y) {
            let score_aux = 0;
            const multiplicators: number[] = [];
            for (let ind = first_aux.x; ind <= last_aux.x; ind++) {
              if (!this.letterIsMine(letters, ind, last_aux.y)) {
                score_aux =
                  score_aux + this.getBoardLetterScore(ind, last_aux.y);
              } else {
                score_aux =
                  score_aux + this.getUserLetterScore(letters, ind, last_aux.y);
                this.board.forEach(row => {
                  row.row.forEach(col => {
                    if (ind == col.cell.x && last_aux.y == col.cell.y) {
                      if (col.cell.multiplicatorType == "word") {
                        multiplicators.push(col.cell.multiplicator);
                      }
                    }
                  });
                });
              }
            }
            multiplicators.forEach((mult: number) => {
              score_aux = score_aux * mult;
            });
            score = score + score_aux;
          }
        }
      }
    }
    user_multiplicators.forEach((mult: number) => {
      user_score = user_score * mult;
    });
    return score + user_score;
  }

  public letterIsMine(
    letters: {
      x: number;
      y: number;
      letter: { symbol: string; id: number; value: number };
      user: string;
    }[],
    x: number,
    y: number
  ): boolean {
    let is_mine = false;
    letters.forEach(letter => {
      if (letter.x == x && letter.y == y) {
        is_mine = true;
      }
    });
    return is_mine;
  }

  public getBoardLetterScore(x: number, y: number): number {
    let score = 0;
    this.zk_board.forEach((letter: any) => {
      if (letter.x == x && letter.y == y) {
        score = letter.letter.value;
      }
    });
    return score;
  }

  public getUserLetterScore(
    letters: {
      x: number;
      y: number;
      letter: { symbol: string; id: number; value: number };
      user: string;
    }[],
    x: number,
    y: number
  ): number {
    let score = 0;
    letters.forEach(letter => {
      this.board.forEach(row => {
        row.row.forEach(col => {
          if (
            letter.x == col.cell.x &&
            letter.x == x &&
            letter.y == col.cell.y &&
            letter.y == y
          ) {
            if (col.cell.multiplicatorType == "letter") {
              score = score + letter.letter.value * col.cell.multiplicator;
            } else {
              score = score + letter.letter.value;
            }
          }
        });
      });
    });
    return score;
  }
}
</script>

<style lang="scss">
.tableBoard {
  border: 5px solid green;
}
</style>
