<template>
  <v-container fluid class="background full-page">
    <v-row align="center" justify="center" class="full-page">
      <v-col cols="1"></v-col>
      <v-col cols="10" class="height-80" align="center">
        <v-card class="d-flex height-80" color="teal darken-3" elevation="2">
          <v-container class="d-flex align-center">
            <v-row>
              <v-col>
                <v-img
                  alt="Game Logo"
                  class="shrink ml-1"
                  contain
                  :src="logo"
                  transition="scale-transition"
                  max-width="300"
                ></v-img>
                <v-card-title class="white--text mt-6 justify-center text-h4">
                  ¡Scrabble UCAB!
                </v-card-title>
                <v-card-subtitle class="white--text justify-center text-body-1">
                  Inicia sesión y empieza a jugar
                </v-card-subtitle>
                <v-card-text
                  class="white--text mt-12 justify-center text-body-2"
                >
                  ¿No tienes cuenta? <br />
                  <a
                    class="white--text text-decoration-underline"
                    @click="openWebApp()"
                    >Registrate en la aplicación web</a
                  >
                </v-card-text>
              </v-col>
              <v-col class="align-self-center px-6 pr-9">
                <v-card class="py-6 px-3">
                  <v-form ref="form" v-model="valid" lazy-validation>
                    <v-text-field
                      v-model="user.alias"
                      :rules="[v => !!v || 'Campo requerido']"
                      label="Alias"
                      required
                      outlined
                      background-color="white"
                    ></v-text-field>

                    <v-text-field
                      v-model="user.password"
                      :rules="[v => !!v || 'Campo requerido']"
                      label="Contraseña"
                      required
                      outlined
                      background-color="white"
                      :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="show ? 'text' : 'password'"
                      @click:append="show = !show"
                    ></v-text-field>

                    <v-btn
                      :disabled="!valid"
                      color="teal"
                      class="white--text"
                      @click="login"
                      :loading="loading"
                    >
                      Iniciar sesión
                    </v-btn>
                  </v-form>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class Login extends Vue {
  $refs!: {
    form: any;
  };

  loading = false;
  show = false;
  logo = require("@/assets/logo-nav.png");
  valid = true;
  user = {
    alias: "",
    password: ""
  };
  private openWebApp() {
    window.open(
      process.env.VUE_APP_WEB_APP_URL,
      "_blank",
      "nodeIntegration=no"
    );
  }
  private login() {
    if (this.user.alias && this.user.password) {
      this.loading = true;
      this.$store
        .dispatch("user/logIn", {
          user: { username: this.user.alias, password: this.user.password }
        })
        .then((response: any) => {
          if (!response.error) {
            this.$router.push("/rooms");
          } else {
            console.log(`ERROR: ${response.message}`);
          }
          this.loading = false;
        });
    } else {
      this.$refs.form.validate();
    }
  }
}
</script>

<style lang="scss" scoped>
.height-80 {
  height: 80%;
}
.background {
  background-image: url("../assets/background.png");
  background-repeat: repeat;
  background-size: 100px;
}
</style>
