<template>
  <v-container fluid class="full-page">
    <v-row align="center" justify="center" class="full-page">
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <v-container fluid class="full-page">
          <v-row v-if="loading == false && rooms.length > 0">
            <v-col cols="6" v-for="(room, index) in rooms" :key="index">
              <Room
                :name="room.name"
                :users="room.users"
                :status="room.status"
              />
            </v-col>
          </v-row>
          <v-row v-if="loading == false && rooms.length == 0">
            <v-col>
              <p class="mb-0 text-h4 text-center">
                ¡No hay salas disponibles actualmente, crea una nueva!
              </p>
            </v-col>
          </v-row>
          <v-row v-if="loading == true">
            <v-col class="d-flex justify-center align-center">
              <v-progress-circular
                :size="70"
                :width="4"
                indeterminate
                color="teal"
              ></v-progress-circular>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="1" class="align-self-end">
        <v-btn
          v-if="rooms.length < 10"
          color="teal"
          dark
          bottom
          right
          fab
          @click="dialog = true"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" width="500" :persistent="loadingEN || loadingES">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Idioma del tablero
        </v-card-title>

        <v-card-text class="text-center pa-6">
          Indique el idioma del tablero para configurar los puntajes y la
          configuración de letras disponibles.
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions class="d-flex justify-space-around">
          <v-btn
            color="primary"
            text
            @click="getRoom('EN')"
            :loading="loadingEN"
            :disabled="disabledEN"
          >
            Inglés (en)
          </v-btn>
          <v-btn
            color="primary"
            text
            @click="getRoom('ES')"
            :loading="loadingES"
            :disabled="disabledES"
          >
            Español (es)
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import Room from "../components/room/Room.vue";
import {
  getZKWatcher,
  getZKClient,
  checkNodeExist,
  getData
} from "@/utils/zk-client.util";

@Component({
  components: {
    Room
  }
})
export default class Rooms extends Vue {
  loading = true;
  loadingEN = false;
  disabledEN = false;
  loadingES = false;
  disabledES = false;
  dialog = false;
  rooms: any = [];
  zkWatcher = getZKWatcher();
  zkClient = getZKClient();

  private async mounted(): Promise<void> {
    this.getZKChildren("/g3_game/rooms");
  }

  private getZKChildren(path: string) {
    this.zkClient.getChildren(
      path,
      () => {
        this.getZKChildren(path);
      },
      (error: any, children: any, stat: any) => {
        if (error) {
          console.error(error);
        }

        this.rooms = [];

        if (children.length > 0) {
          children.forEach(async (child: any) => {
            let user_check = false;
            let status_check = false;
            let actualUsers: any;
            let actualStatus: any;

            user_check = await checkNodeExist(`/g3_game/rooms/${child}/users`);
            if (user_check) {
              actualUsers = await getData(`/g3_game/rooms/${child}/users`);
            }
            status_check = await checkNodeExist(
              `/g3_game/rooms/${child}/status`
            );
            if (status_check) {
              actualStatus = await getData(`/g3_game/rooms/${child}/status`);
            }

            this.rooms.push({
              name: child,
              users: user_check ? JSON.parse(actualUsers.data).length : 1,
              status: status_check
                ? actualStatus.data.replace(/['"]+/g, "")
                : "Waiting for users"
            });

            this.zkWatcher.watch(
              `/g3_game/rooms/${child}/users`,
              (err: any, val: any, stat: any) => {
                if (val) {
                  const usersCount = JSON.parse(val.toString("utf-8")).length;
                  this.rooms.forEach((room: any) => {
                    if (room.name == child) {
                      room.users = usersCount;
                    }
                  });
                }
              }
            );

            this.zkWatcher.watch(
              `/g3_game/rooms/${child}/status`,
              (err: any, val: any, stat: any) => {
                if (val) {
                  this.rooms.forEach((room: any) => {
                    if (room.name == child) {
                      room.status = val.toString("utf-8").replace(/['"]+/g, "");
                    }
                  });
                }
              }
            );
            this.loading = false;
          });
        } else {
          this.loading = false;
        }
      }
    );
  }

  private getRoom(language: string): void {
    if (language == "ES") {
      this.disabledEN = true;
      this.loadingES = true;
    } else {
      this.disabledES = true;
      this.loadingEN = true;
    }
    this.$store
      .dispatch("zk/createRoom", language)
      .then((response: any) => {
        if (response.error) {
          console.error(response.error);
        } else {
          this.$router.push(`/game/${response}`);
        }
      })
      .finally(() => {
        this.dialog = false;
        this.loadingEN = false;
        this.disabledEN = false;
        this.loadingES = false;
        this.disabledES = false;
      });
  }
}
</script>
