<template>
  <v-app-bar app color="teal darken-3" dark>
    <div class="d-flex align-center">
      <v-img
        alt="Game Logo"
        class="shrink ml-1"
        contain
        :src="logo"
        transition="scale-transition"
        min-width="100"
        width="150"
      />
    </div>

    <p class="mb-0 ml-12 text-h6">{{ alias }}</p>

    <v-spacer v-if="$route.meta.inGame"></v-spacer>
    <h2 class="text-center white--text" v-if="$route.meta.inGame">
      Sala {{ $route.params.room_id }}
    </h2>
    <v-spacer></v-spacer>

    <a
      class="white--text text-decoration-underline"
      @click="logout"
      v-if="!$route.meta.inGame"
    >
      Cerrar sesión
    </a>
    <v-btn v-if="$route.meta.inGame" text @click="exitRoom()">
      <v-icon class="mr-2">mdi-arrow-left-bold-outline</v-icon>
      <span>Salir</span>
    </v-btn>
  </v-app-bar>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import info from "../../utils/info.util";
import { removeRecursiveZKNode } from "@/utils/zk-client.util";

@Component
export default class Header extends Vue {
  logo = require("@/assets/logo-nav.png");
  alias = info.getAlias();
  private logout() {
    localStorage.clear();
    this.$router.push("/login");
  }
  private async exitRoom() {
    await removeRecursiveZKNode(
      `/g3_game/rooms/${this.$route.params.room_id}/connections/${this.alias}`
    );
    this.$router.push("/rooms");
  }
}
</script>

<style lang="scss">
.logoPointer {
  cursor: pointer;
}
</style>
