<template>
  <v-card
    :disabled="users == 4 || status !== 'Waiting for users'"
    :color="
      users == 4 || status !== 'Waiting for users' ? 'grey' : 'teal darken-3'
    "
    class="text-center"
    elevation="2"
    @click="enterRoom()"
  >
    <v-row no-gutters
      ><v-col class="pa-5 d-flex justify-space-around align-center">
        <div>
          <p class="text-h5 white--text text-center ma-0">Sala {{ name }}</p>
          <p class="text-body-2 white--text text-center ma-0">
            Jugadores: {{ users }} / 4
          </p>
        </div>
        <div>
          <v-icon
            class="text-h4 white--text"
            v-if="users == 4 || status !== 'Waiting for users'"
            >mdi-lock</v-icon
          >
          <v-icon
            class="text-h4 white--text"
            v-if="users != 4 && status === 'Waiting for users'"
            >mdi-lock-open-variant</v-icon
          >
        </div>
      </v-col></v-row
    >
    <v-row>
      <v-col>
        <v-progress-linear
          value="100"
          color="white"
          v-if="!loading"
        ></v-progress-linear>
        <v-progress-linear
          indeterminate
          color="white"
          v-if="loading"
        ></v-progress-linear>
      </v-col>
    </v-row>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import { getData, setData, getZKLock } from "@/utils/zk-client.util";
import info from "@/utils/info.util";

@Component
export default class Room extends Vue {
  @Prop() name!: string;
  @Prop() users!: number;
  @Prop() status!: string;

  loading = false;
  zkLock = getZKLock();

  private async enterRoom() {
    this.loading = true;
    this.zkLock.lock(`lock/g3_game/rooms/${this.name}/users`).then(async () => {
      const actualUsers: any = await getData(
        `/g3_game/rooms/${this.name}/users`
      );
      const actualStatus: any = await getData(
        `/g3_game/rooms/${this.name}/status`
      );
      if (
        actualStatus.data.replace(/['"]+/g, "") == "Waiting for users" &&
        JSON.parse(actualUsers.data).length < 4
      ) {
        const actualUsers: any = await getData(
          `/g3_game/rooms/${this.name}/users`
        );
        const arrayUsers: any = JSON.parse(actualUsers.data);
        arrayUsers.push({ id: info.getAlias(), tiles: [], score: 0, move: [] });
        await setData(
          `/g3_game/rooms/${this.name}/users`,
          JSON.stringify(arrayUsers)
        ).then(() => {
          this.zkLock.unlock();
          this.loading = false;
          this.$router.push(`/game/${this.name}`);
        });
      }
    });
  }
}
</script>
