<template>
  <v-app>
    <Header v-if="!$route.meta.hideHeader" />
    <v-main>
      <v-container fluid class="pa-0 full-page">
        <router-view></router-view>
      </v-container>
    </v-main>
    <PlayerLetters v-if="!$route.meta.hidePlayerLetters" />
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import Header from "./components/common/Header.vue";
import PlayerLetters from "./components/board/PlayerLetters.vue";
import {
  connectZK,
  connectZKWatcher,
  getZKNodes,
  createZKNode,
  setData,
  getData,
  removeRecursiveZKNode,
  getZKWatcher
} from "@/utils/zk-client.util";

@Component({
  components: {
    Header,
    PlayerLetters
  }
})
export default class App extends Vue {
  private async created() {
    try {
      await connectZK();
      await connectZKWatcher();
    } catch (error) {
      console.log(error);
    }
  }

  private changeGame(): void {
    this.$router.push("/game");
  }
}
</script>

<style lang="scss">
.full-page {
  height: 100%;
}
</style>
